<html>
  <head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <title>8 ball</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>The Omniscient 8 Ball<h1>
    <div class="ball"></div>
  </body>
</html>
