a {
	color: #00B7FF;
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 110%, #323232, #0a0a0a 80%, #000000 100%);
}

.ball:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 110%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 75%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  -webkit-filter: blur(10px);
  z-index: 2;
}

.ball:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 25%);
  -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -moz-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -ms-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -o-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -webkit-filter: blur(20px);
}
.ball .eight {
  width: 110px;
  height: 110px;
  margin: 30%;
  background: white;
  border-radius: 50%;
  -webkit-transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  -moz-transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  -ms-transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  -o-transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  position: absolute;
}

.ball .eight:before {
  content: "8";
  display: block;
  position: absolute;
  text-align: center;
  height: 80px;
  width: 100px;
  left: 50px;
  margin-left: -40px;
  top: 44px;
  margin-top: -40px;
  color: black;
  font-family: 'Ewert', cursive;
  font-size: 90px;
  line-height: 100px;
}

.ball .shadow {
position: absolute;
width: 100%;
height: 100%;
background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
-webkit-transform: rotateX(90deg) translateZ(-150px);
-moz-transform: rotateX(90deg) translateZ(-150px);
-ms-transform: rotateX(90deg) translateZ(-150px);
-o-transform: rotateX(90deg) translateZ(-150px);
transform: rotateX(90deg) translateZ(-150px);
z-index: -1;
}

.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

body {
  width: 300px;
  margin: 20px auto;
  background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
  background-repeat: no-repeat;
  font-family:'Amatic SC', cursive;
}

/*h1 {
	text-align: center;
}*/

.box {
	width: 100px;
	height: 100px;
	background-color: purple;
	margin: 10px;
}

.box:nth-of-type(1) {
	transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.box:nth-of-type(2) {
	transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.box:nth-of-type(1):hover {
	background-color: red;
	width: 200px;
}

.box:nth-of-type(2) {
	transform: scale(4,2);

}

.box:nth-of-type(3) {
	transform: translate(250px, 250px);

}

.box:nth-of-type(4) {
	transform: rotate(30deg);

}

.box:nth-of-type(5) {
	transform: rotateY(45deg);

}

.box:nth-of-type(6) {
	animation: grow 2s infinite;

}

@keyframes grow {
	0% {
		width: 100px;
	}
	50% {
		width: 700px;
		transform: rotateX(40deg);
	}
	100%{
		width: 300px;
		transform: rotateX(90deg);
	}
}